body{
   padding: 0;
   margin: 0;
   /*font-family: 'Roboto Mono', monospace;*/
   font-family: 'Caveat', cursive;
   min-height: 100%;
}

.nav{
    /*border: 1px solid grey;*/
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
        
    }

    h1{
        margin-top: 1px;
        font-size: 40px;
    }

.bar{
    width: 100%;
    height: 70px;
    text-align: center;
    margin:auto;
    /*border: 1px solid red;*/
   
}
p{
    font-size: 20px;
}

span{
    font-size: 40px;
    text-align: center;
    align-items: center;
    bottom: 30px;
    
    float: center;
    align-items: center;
    position: relative;
    margin-left: 50px;
}

.imgLogo{
    padding: 10px;
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 45%;
    background-size: 100% auto;
}
.container{
    width: 100%;
   /* border: 1px solid red;*/
    margin:auto;
    /*background: url(img/back.jpg);*/
    background-image:url(img/back.jpg) ;
}

.menu{
    float: right;
}
.menu li{
    display: inline-block;
    margin-top: 20px;
}

.menu a{
    text-decoration: none;
    color:black;
    padding: 20px;

}

.menu a:hover{
 background-color:rgb(184, 43, 18);
 border-radius: 20px;
 color: white;
 font-size: 20px;

}

.col{
    padding: 5px;;
    display: inline-block;
    height: 250px;
    width: 250px;
    padding: 3px;
    margin: 10px;
   
}

.col img{
    border: 2px solid gray;
    border-radius: 10px;
}

.row{
    text-align: center;
    vertical-align: top;
    padding: 10px;
}

.col img:hover{
    transform: scale(1.1);
    transition: 0.1s;
    box-shadow: 12px 12px 17px -3px rgba(0,0,0,0.75);
}
.col img{
    width: 100%;
    height: 100%;
  }
 
  @supports(object-fit: cover){
      .col img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
      
    }

    .footer{
        background-color: #f2f2f2;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    html{
        height: 100%;
    }
    .nav{
        grid-area: nav;
    }

    .bar{
        grid-area: bar;
    }

    .container{
        grid-area: container;
    }

    .footer{
        grid-area: footer;
    }

    .grid-container{
        display: grid;
        gap: 30px;
        grid-template-areas: 
        "nav"
        "bar"
        "container"
        "footer";
    }